
/*  导航栏 周志锋  */
#index {
    width: 100%;
    background-color: #2A83D3;
    color: white;
}
li>a {
    color: white;
}
#menu>li {
    border-radius: 0px;
}
#nav {
    margin: 0;
    padding: 0px;
    list-style: none;
    float: left;
    display: block;
}
#nav li {
    width: 110px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: #2A83D3;
    float: left;
}
#nav li a {
    display: block;
    height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
#nav li a:hover {
    color: #2A83D3;
    background: #FFF;
}
#nav>li:target {
    background: #333;
}
#nav>li:target a {
    color: #2A83D3;
    background: #FFF;
}
#nav>li:target a:hover {
    color: #DDD;
}
#RightCorner
{
    padding-top: 2%;
    padding-bottom: 1%;
}
/*童凌*/
div {
    line-height: 2em;
}
.top {
    display: block;
}
.navbar-brand {
    font-size: 30px;
}
.navbar-default {
    height: 100%;
    width: 85%;
    margin-left: 9%;
}
.navbar-right {
    padding-top: 2%;
    padding-right: 7%;
}
.col-md-3 {
    height: 100%;
}
.col-md-9 {
    padding-left: -10;
}
.sub-title {
    height: 100px;
    font-size: 20px;
    padding-top: 30px;
}
.nav-stacked {
    width: 100%;
    background: #EEE;
    padding-bottom: 100%;
    padding-top: 2%;
    margin-top: 100%;
    position: fixed;
    left: 45%;
    top: -58%;
}
.jumbotron {
    padding-top: 70%;
    padding-left: 60%;
    position: fixed;
    left: 18%;
    top: 15%;
}
.tuxing {
    width: 80%;
    height: 100%;
    padding-left: 20%;
}
#main {
    height: 450px;
    width: 95%;
}
#main1 {
    height: 450px;
    width: 95%;
}

/*  分类舆情    */
.category-bar .blue {
    color: #87CEFA;
}
.category-bar .red {
    color: #FF7F50;
}
.category-bar .category {
    padding: 3px;
}
