.active
{
	color:#6D86B5;
}
.unavtive
{
	color:#fff;
}

#index
{
	width: 100%;
	background-color: #2A83D3;
	color: white;
}
li>a
{
	color:white;
}
#shiying
{
	padding-top: 50px;
	padding-bottom: 20px;
}
#menu>li {
	border-radius: 0px;
}